body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;

}

.bgO, .bgX, .draw{
    position: absolute;
    font-size: 4rem;
    width: -webkit-fill-available;
    display:none;
}

.bgO h1,.bgX h1, .draw h1{
    margin: 0px;
    display: inline-block;
    animation: marquee 3s ease-in-out infinite;
    text-shadow: 0px 0px 0px black;
}

.bgO h1{
    color: #00ff92ab;
}

.bgX h1{
    color: #ff0000ab ;
}

.draw{
    color: #002cffab;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    z-index: 1;
    background-color: white;
    border: 10px solid black;
}

.header{
    font-size: 6rem;
    text-align: center;
    font-weight: bolder;
    border-bottom: 10px solid;
}

.header p{
    margin: 0px;
    padding: 0px;
}

.announcement{
    display: flex;
    align-items: center;
    gap: 7px;
    width: -webkit-fill-available;
    justify-content: center;
    padding: 10px;
}

.announcement h3{
    margin: 0px;
    font-size: 2rem;
}

.choice{
    font-size: 2.5rem;
    padding-top: 5px;
    font-weight: bolder;
}

.grid{
    padding: 20px;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top,.mid,.bottom{
    font-size: 100px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.top,.mid{
    border-bottom: 10px solid ;
}

.box {  
    box-sizing: border-box ;
    padding: 20px;
    width: 140px;
    height: 140px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zero,.one,.three,.four,.six,.seven{
    border-right: 10px solid;
}

.reset{
    font-size: 1.5rem;
    padding: 5px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center ;
}
.reset button{
    font-size: 1.5rem;
    background-color: whtie;
    border: 5px solid;
    font-weight: bolder;
}